body {
  font-family: 'Ibarra Real Nova', serif;
}

p, form, ul li, footer a {
  font-size: 1.2em;
}

section{
  margin:0;
  padding:0;
}

section.flush-with-above{
  border-top: none !important;
  padding-top: 0;
}

#row-wie-ben-ik{
  min-height: 687px;        
  background-position: center 0;
  background-image: url('../images/bg-egel.png');
  background-position: center -220px;
  background-repeat: no-repeat;
}

.btn {
  font-size: inherit;
}

.shadowbox-large{
  margin-top:-20%;
  z-index: 1;
  padding: 3em;
  display: block;
  box-shadow:0 10px 16px 0 rgb(0 0 0 / 10%), 0 6px 20px 0 rgb(0 0 0 / 15%) !important;
  background-color: #fff;
}

.form-control{
  font-size: inherit;
}

.copyright{
  font-size: .7em;
  color: #fff;
}

.scroll-margin{
  scroll-margin-top: 11rem;
}

.custom-grad {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#b6cb9e, #fff);
}

footer a, footer a:visited {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  color: #fff;
  text-decoration: underline;
}